.forgotpass{
    position: relative;
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    border-radius: 16px;
}
.infopage{
    position: absolute;
width: 848px;
height: 810px;
left: 592px;
top: 0px;
background: #FFFFFF;
}
.logo{ 
    position: absolute;
    width: 170px;
    height: 136px;
    left: 180px;
    top: 100px;
}
.pass{
position: absolute;
left: -150px;
right: 73.68%;
bottom: 440px;
family: 'Nunito';
font-weight: normal;
font-size: 18px;
line-height: 33px;
color: #282739;
}
.repass{
    position: absolute;
    left: -88px;
    right: 73.68%;
    bottom: 350px;
    family: 'Nunito';
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #282739;
}
.newpass{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 16px 10px 12px;
position: absolute;
width: 400px;
height: 40px;
left: 70px;
top: 350px;
background: #FFFFFF;
border: 1.5px solid #D4D4D7;
box-sizing: border-box;
border-radius: 8px;
}
.newpassconfirm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px 10px 12px;
    position: absolute;
    width: 400px;
    height: 44px;
    left: 70px;
    top: 445px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;
}
.btncomfirm{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
position: absolute;
width: 162px;
height: 40px;
left: -420px;
top: 550px;
background: #FF9138;
border-color: #FF9138;
border-radius: 8px;
color:white
}
.titlepage{
    height: 700px;
    width: 800px
}

