.forgotpass{
    position: relative;
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    border-radius: 16px;
}
.infopage{
     position: absolute;
width: 848px;
height: 810px;
left: 592px;
top: 0px;
background: #FFFFFF;
}
.logo{ 
    position: absolute;
    width: 170px;
    height: 136px;
    left: 180px;
    top: 100px;
}
.repasss{
position: absolute;
left: 150px;
right: 73.68%;
top: 39.51%;
bottom: 57.53%;
family: 'Nunito';
font-weight: bold;
font-size: 20px;
line-height: 33px;
color: #282739;
}
.need{
     position: absolute;
width: 396px;
height: 27px;
left: 80px;
top: 360px;

/* 18/18 Reg */

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #37474F;
}

.entermail{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 270px 10px 12px;
position: absolute;
width: 400px;
height: 44px;
left: 80px;
top: 391px;
background: #FFFFFF;
border: 1.5px solid #D4D4D7;
box-sizing: border-box;
border-radius: 8px;
}
.nextbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    position: absolute;
    width: 162px;
    height: 40px;
    left: 304px;
    top: 483px;
    background: #FF9138;
    border-radius: 8px;
    border-color:white;
    color:white
}
.cancelbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    position: absolute;
    width: 162px;
    height: 40px;
    left: 85px;
    top: 483px;
    background: #F7F7F7;
    border-radius: 8px;
    border-color:#FF9138;
    color: #FF9138;
}
.titlepage{
    height: 700px;
    width: 800px
}

