.profilepage{
    position: relative;
    width: 100%;
    height: 800px;
    background: #F7F7F7;
    border-radius: 16px;

}
.title{
    color: #FF9138;
    position: relative;
    top: 80px;
    font-weight: bold;
    font-size: 18px;
    right: 450px;
}
.info{
    position: absolute;
    width: 1112px;
    height: 397px;
    left: 224px;
    top: 210px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
    border-radius: 12px;
}
.imginfo{
    position: absolute;
    width: 248px;
    height: 248px;
    left: 24px;
    top: 40px;
    border-radius: 318px;
    background-color: blue;
}
.inputfile{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 195px;
    top: 246px;
    background: #FF7506;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}
.nameinfo{
    position: absolute;
    width: 186px;
    height: 36px;
    left: 55px;
    top: 307px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #282739;
}
.inputinfo{
    position: relative;
    left:300px;
    background: #FFFFFF;
    height:397px;
    width:800px;
    padding:10px;
}

.fullname{
position: relative;
left:-370px;
top: 20px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282739;
}
.ifullname{
    position: relative;
    left:-230px;
    width: 384px;
    height: 44px;
    top: 10px;
    background: #EAEAEC;
    border-radius: 6px;
    border:none
}
.phone{
position: relative;
left:-370px;
top: 20px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282739;

}
.iphone{
    position: relative;
    left:-230px;
    width: 384px;
    height: 44px;
    top: 10px;
    background: #EAEAEC;
    border-radius: 6px;
    border:none
}
.email{
position: relative;
left:-395px;
top: 20px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282739;
}
.iemail{
    position: relative;
    left:-230px;
    width: 384px;
    height: 44px;
    top: 10px;
    background: #EAEAEC;
    border-radius: 6px;
    border:none
}
.user{
    position: relative;
left:50px;
top: -230px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282739;
}
.iuser{
    position: relative;
    left:190px;
    width: 384px;
    height: 44px;
    top:-242px;
    background: #EAEAEC;
    border-radius: 6px;
    border:none
}
.password{
    position: relative;
    left:40px;
    top: -230px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}
.ipassword{
    position: relative;
    left:190px;
    width: 384px;
    height: 44px;
    top:-242px;
    background: #EAEAEC;
    border-radius: 6px;
    border:none
}
.role{
    position: relative;
    left:30px;
    top: -230px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739
}
.irole{
    position: relative;
    left:190px;
    width: 384px;
    height: 44px;
    top:-242px;
    background: #EAEAEC;
    border-radius: 6px;
    border:none
}